# The lower threshold or below appears as the given state.
LOWER_THRESHOLD = 20
LOWER_LOCKED = True

# The higher threshold or above appears as the given state.
HIGHER_THRESHOLD = 100
HIGHER_LOCKED = False

QUERY_URL = "http://ip"
